body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
}

.board {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: green ;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 10px;
    
}

.number-grid button {
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #e0e0e0;
}

.number-grid button.selected {
    background-color: #007bff;
    color: white;
}
